@import url('https://fonts.googleapis.com/css2?family=Anton&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Prompt", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Prompt", serif;
  --font-anton: "Anton", sans-serif;
  
  --color-brand-primary: #101010;
  --color-brand-accent: #b20000;
  --color-brand-bg: #fcfcfc;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-primary font-sans antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .news-container {
    @apply max-w-[1400px] mx-auto px-4 md:px-8;
  }
  
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-gray-200/50 shadow-xl;
  }

  .nav-link {
    @apply text-[11px] font-medium tracking-wider hover:text-brand-accent transition-colors uppercase;
  }
}
